/*************************
    name:base.scss
    This file includes the common variables entities
    contents
    1.colors.
    2.fonts.
 *************/

//  1.colors
$styles-color-white: #fff;
$styles-color-orange: #f1813a;
$styles-color-orange-light: #f1813a7d;
$styles-color-gray-light: #c9c9c9;

// 2. fonts
$styles-font--family-default: Avenir, Helvetica, Arial, sans-serif;
$styles-font--size-default: 20px;
